# Define your own values for these variables
# - DO NOT put "" or '' around values, or add space around =
# - DO NOT use these special characters within values: \ " '
VPN_IPSEC_PSK=awsvpn2018
VPN_USER=bernini
VPN_PASSWORD=bernini12345678
